[Unit]
Description={{ project_name }}
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=root
Group=root
ExecStartPre=-/usr/bin/docker stop {{ project_name }}
ExecStartPre=-/usr/bin/docker rm {{ project_name }}
ExecStartPre=-/usr/bin/docker pull {{ image_name }}:{{ version }}
ExecStart=/usr/bin/docker run --rm \
    --name {{ project_name }} \
    --network host \
{{ image_name }}:{{ version }}

SyslogIdentifier={{ project_name }}

[Install]
WantedBy=multi-user.target
